<div id="map-{{ .Ordinal }}" style="height: 400px; width: 100%;"></div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const map = L.map("map-{{ .Ordinal }}").setView(
            [{{ .Get "lat" | default 35.6895 }}, {{ .Get "lng" | default 139.6917 }}],
        {{ .Get "zoom" | default 10 }}
    );

    L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
        // attribution: "&copy; OpenStreetMap contributors"
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    L.marker([
        {{ .Get "lat" | default 35.6895 }},
        {{ .Get "lng" | default 139.6917 }}
    ]).addTo(map);
  });
</script>